// Variables

$white: #fff;
$background: #ecf0f1;
$bright-green: #34CF7A;
$light-grey: #dde1e2;
$med-grey: #bdc3c7;
$dark-grey: #81878b;
$med-blue: #5cc0ff;
$dark-blue: #3498db;
$darker-blue: #2589cc;
$hover-blue: #167abd;

//Fonts

$font-lato: 'Lato';
$font-quicksand: 'Quicksand';
